/*USE master
GO
if exists (select * from sysdatabases where name = 'Webshop')
	drop database Webshop
go*/
/****** Object:  Database [Webshop]    Script Date: 2/22/2024 8:33:22 PM ******/
CREATE DATABASE [Webshop]
 /*CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TEST', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TEST.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TEST_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TEST_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO*/
ALTER DATABASE [Webshop] SET COMPATIBILITY_LEVEL = 160
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Webshop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Webshop]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 2/22/2024 8:33:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[acc_id] [int] IDENTITY(1,1) NOT NULL,
	[acc_password] [varchar](max) NULL,
	[acc_status] [char](1) NULL,
	[email] [nvarchar](100) NOT NULL,
	[acc_name] [nvarchar](50) NOT NULL,
	[phone] [varchar](10) NOT NULL,
	[avatar] [text] NULL,
	[role_id] [int] NOT NULL,
	[address] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[acc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountAddress]    Script Date: 2/22/2024 8:33:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountAddress](
	[acc_add_id] [int] IDENTITY(1,1) NOT NULL,
	[acc_id] [int] NOT NULL,
	[acc_address] [nvarchar](200) NOT NULL,
	[acc_phone] [varchar](10) NULL,
	[acc_username] [nvarchar](20) NULL,
	[isDefault] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[acc_add_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 2/22/2024 8:33:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[brand_id] [int] IDENTITY(1,1) NOT NULL,
	[brand_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 2/22/2024 8:33:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[cate_id] [int] IDENTITY(1,1) NOT NULL,
	[cate_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 2/22/2024 8:33:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[contact_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[phone] [varchar](10) NOT NULL,
	[email] [nvarchar](max) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[status] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[contact_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Delivery]    Script Date: 2/22/2024 8:33:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Delivery](
	[delivery_id] [int] IDENTITY(1,1) NOT NULL,
	[delivery_name] [nvarchar](100) NOT NULL,
	[price] [float] NOT NULL,
	[status] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[delivery_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 2/22/2024 8:33:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[discount_id] [int] IDENTITY(1,1) NOT NULL,
	[discount_name] [nvarchar](100) NOT NULL,
	[discount_start] [datetime] NOT NULL,
	[discount_end] [datetime] NOT NULL,
	[discount_price] [float] NOT NULL,
	[discount_code] [nvarchar](10) NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[discount_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 2/22/2024 8:33:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[feedback_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[status] [char](1) NULL,
	[content] [nvarchar](max) NULL,
	[replyfor] [int] NULL,
	[create_at] [datetime] NULL,
	[rate_star] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oder_Detail]    Script Date: 2/22/2024 8:33:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oder_Detail](
	[pro_id] [int] NOT NULL,
	[cate_id] [int] NOT NULL,
	[discount_id] [int] NOT NULL,
	[oder_id] [int] NOT NULL,
	[price] [float] NOT NULL,
	[status] [char](1) NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[pro_id] ASC,
	[cate_id] ASC,
	[discount_id] ASC,
	[oder_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 2/22/2024 8:33:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[payment_id] [int] NOT NULL,
	[delivery_id] [int] NOT NULL,
	[oder_date] [datetime] NOT NULL,
	[total] [float] NOT NULL,
	[acc_id] [int] NOT NULL,
	[status] [char](1) NULL,
	[order_note] [nvarchar](200) NULL,
	[oder_address] [nvarchar](200) NULL,
	[note] [nvarchar](500) NULL,
	[oderUsername] [nvarchar](50) NULL,
	[oderPhone] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 2/22/2024 8:33:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[payment_name] [nvarchar](50) NOT NULL,
	[status] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2/22/2024 8:33:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[pro_id] [int] IDENTITY(1,1) NOT NULL,
	[pro_name] [nvarchar](200) NOT NULL,
	[cate_id] [int] NOT NULL,
	[brand_id] [int] NOT NULL,
	[discount_id] [int] NOT NULL,
	[price] [float] NOT NULL,
	[buyturn] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[status_] [char](1) NULL,
	[specification] [nvarchar](max) NULL,
	[pro_img] [nvarchar](max) NULL,
	[pro_description] [nvarchar](max) NULL,
	[update_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[pro_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImg]    Script Date: 2/22/2024 8:33:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImg](
	[product_img_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[image] [nvarchar](500) NULL,
 CONSTRAINT [PK_ProductImg] PRIMARY KEY CLUSTERED 
(
	[product_img_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 2/22/2024 8:33:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([acc_id], [acc_password], [acc_status], [email], [acc_name], [phone], [avatar], [role_id], [address]) VALUES (1, N'1', N'1', N'1', N'Dương', N'0346297236', N'/Content/Images/avatar/default.jpg', 1, N'828 svh')
INSERT [dbo].[Account] ([acc_id], [acc_password], [acc_status], [email], [acc_name], [phone], [avatar], [role_id], [address]) VALUES (6, N'12345', N'1', N'321@gmail.com', N'Dương guest', N'0349272363', NULL, 3, NULL)
INSERT [dbo].[Account] ([acc_id], [acc_password], [acc_status], [email], [acc_name], [phone], [avatar], [role_id], [address]) VALUES (7, N'1', N'1', N'ducduong260103@gmail.com', N'NGUYEN DUC DUONG', N'0346297236', N'/Content/Images/logo/icon.png', 3, NULL)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[AccountAddress] ON 

INSERT [dbo].[AccountAddress] ([acc_add_id], [acc_id], [acc_address], [acc_phone], [acc_username], [isDefault]) VALUES (2, 1, N'828 Sư Vạn Hạnh', N'0346297236', N'Dương', 1)
INSERT [dbo].[AccountAddress] ([acc_add_id], [acc_id], [acc_address], [acc_phone], [acc_username], [isDefault]) VALUES (5, 1, N'123', N'034629723', N'Duong1', 0)
INSERT [dbo].[AccountAddress] ([acc_add_id], [acc_id], [acc_address], [acc_phone], [acc_username], [isDefault]) VALUES (6, 1, N'1', N'0346297236', N'1', 0)
SET IDENTITY_INSERT [dbo].[AccountAddress] OFF
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([brand_id], [brand_name]) VALUES (1, N'Asus')
INSERT [dbo].[Brand] ([brand_id], [brand_name]) VALUES (2, N'Lenovo')
INSERT [dbo].[Brand] ([brand_id], [brand_name]) VALUES (4, N'Dell')
SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([cate_id], [cate_name]) VALUES (1, N'Laptop gamming')
INSERT [dbo].[Category] ([cate_id], [cate_name]) VALUES (2, N'Laptop văn phòng')
INSERT [dbo].[Category] ([cate_id], [cate_name]) VALUES (5, N'Laptop mỏng nhẹ')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Delivery] ON 

INSERT [dbo].[Delivery] ([delivery_id], [delivery_name], [price], [status]) VALUES (1, N'Giao hàng nhanh', 30000, N'1')
INSERT [dbo].[Delivery] ([delivery_id], [delivery_name], [price], [status]) VALUES (2, N'Giao hàng tiết kiệm', 15000, N'1')
SET IDENTITY_INSERT [dbo].[Delivery] OFF
GO
SET IDENTITY_INSERT [dbo].[Discount] ON 

INSERT [dbo].[Discount] ([discount_id], [discount_name], [discount_start], [discount_end], [discount_price], [discount_code], [quantity]) VALUES (3, N'Giảm 0₫', CAST(N'2023-11-08T16:57:00.000' AS DateTime), CAST(N'2023-11-11T00:00:00.000' AS DateTime), 0, N'', 9999)
INSERT [dbo].[Discount] ([discount_id], [discount_name], [discount_start], [discount_end], [discount_price], [discount_code], [quantity]) VALUES (7, N'Giảm 500k', CAST(N'2023-09-09T00:00:00.000' AS DateTime), CAST(N'2023-12-31T00:00:00.000' AS DateTime), 500000, N'123', 93)
INSERT [dbo].[Discount] ([discount_id], [discount_name], [discount_start], [discount_end], [discount_price], [discount_code], [quantity]) VALUES (10, N'Giảm 50.000₫', CAST(N'2023-11-21T22:47:00.000' AS DateTime), CAST(N'2024-02-10T22:47:00.000' AS DateTime), 50000, N'', 10)
SET IDENTITY_INSERT [dbo].[Discount] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([feedback_id], [account_id], [product_id], [status], [content], [replyfor], [create_at], [rate_star]) VALUES (31, 1, 26, N'2', N'<p>231111111111123</p>', NULL, CAST(N'2023-11-15T07:51:52.617' AS DateTime), 5)
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
INSERT [dbo].[Oder_Detail] ([pro_id], [cate_id], [discount_id], [oder_id], [price], [status], [quantity]) VALUES (4, 1, 3, 17, 20790000, N'1', 1)
INSERT [dbo].[Oder_Detail] ([pro_id], [cate_id], [discount_id], [oder_id], [price], [status], [quantity]) VALUES (7, 1, 3, 17, 10000000, N'1', 1)
INSERT [dbo].[Oder_Detail] ([pro_id], [cate_id], [discount_id], [oder_id], [price], [status], [quantity]) VALUES (7, 1, 3, 18, 10000000, N'1', 1)
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([order_id], [payment_id], [delivery_id], [oder_date], [total], [acc_id], [status], [order_note], [oder_address], [note], [oderUsername], [oderPhone]) VALUES (17, 1, 2, CAST(N'2023-11-09T13:16:15.370' AS DateTime), 30305000, 1, N'2', N'', N'828 svh', NULL, N'Dương', 346297236)
INSERT [dbo].[Order] ([order_id], [payment_id], [delivery_id], [oder_date], [total], [acc_id], [status], [order_note], [oder_address], [note], [oderUsername], [oderPhone]) VALUES (18, 1, 2, CAST(N'2023-11-09T13:20:23.590' AS DateTime), 10015000, 1, N'1', N'', N'828 svh', NULL, N'Dương', 346297236)
INSERT [dbo].[Order] ([order_id], [payment_id], [delivery_id], [oder_date], [total], [acc_id], [status], [order_note], [oder_address], [note], [oderUsername], [oderPhone]) VALUES (20, 1, 2, CAST(N'2023-11-21T22:54:02.477' AS DateTime), 614000, 11, N'1', N'', N'hocmon', NULL, N'duc duong', 346297326)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([payment_id], [payment_name], [status]) VALUES (1, N'COD', N'1')
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([pro_id], [pro_name], [cate_id], [brand_id], [discount_id], [price], [buyturn], [quantity], [status_], [specification], [pro_img], [pro_description], [update_at]) VALUES (7, N'Laptop MSI Gaming GP76 11UG i7 11800H/ 16GB/ 1TB SSD/ 8GB RTX3070/ 240Hz/ Balo/ Chuột/ Win10 (435VN)', 1, 1, 7, 10000000, 8, 6, N'1', N'<p>ádsadsad</p>', N'/Content/Images/msi-gp76-11ug-i7-435vn-600x60010-58-20-02-2022.jpg', N'<p>213213213</p>', CAST(N'2023-11-14T22:41:28.560' AS DateTime))
INSERT [dbo].[Product] ([pro_id], [pro_name], [cate_id], [brand_id], [discount_id], [price], [buyturn], [quantity], [status_], [specification], [pro_img], [pro_description], [update_at]) VALUES (17, N'Chuột có dây Logitech M100r Đen ', 6, 10, 3, 100000, 0, 50, N'1', N'<p>Tương thích Windows Độ phân giải 1000 DPI Cách kết nối Dây cắm USB Độ dài dây/Khoảng cách kết nối Dây dài 100 cm Trọng lượng 90g</p>', N'/Content/Images/chuo-t-co-day-logitech-m100r-den-01-600x600.jpg', NULL, CAST(N'2023-11-14T22:25:26.787' AS DateTime))
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (2, N'Biên tập viên')
INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (3, N'Người dùng')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Role]
GO
ALTER TABLE [dbo].[AccountAddress]  WITH CHECK ADD  CONSTRAINT [FK_AccountAddress_Account] FOREIGN KEY([acc_id])
REFERENCES [dbo].[Account] ([acc_id])
GO
ALTER TABLE [dbo].[AccountAddress] CHECK CONSTRAINT [FK_AccountAddress_Account]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Account] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([acc_id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Account]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Feedback] FOREIGN KEY([replyfor])
REFERENCES [dbo].[Feedback] ([feedback_id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Feedback]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([pro_id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Product]
GO
ALTER TABLE [dbo].[Oder_Detail]  WITH CHECK ADD  CONSTRAINT [FK_Oder_Detail_Order] FOREIGN KEY([oder_id])
REFERENCES [dbo].[Order] ([order_id])
GO
ALTER TABLE [dbo].[Oder_Detail] CHECK CONSTRAINT [FK_Oder_Detail_Order]
GO
ALTER TABLE [dbo].[Oder_Detail]  WITH CHECK ADD  CONSTRAINT [FK_Oder_Detail_Product] FOREIGN KEY([pro_id])
REFERENCES [dbo].[Product] ([pro_id])
GO
ALTER TABLE [dbo].[Oder_Detail] CHECK CONSTRAINT [FK_Oder_Detail_Product]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Account] FOREIGN KEY([acc_id])
REFERENCES [dbo].[Account] ([acc_id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Account]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Delivery] FOREIGN KEY([delivery_id])
REFERENCES [dbo].[Delivery] ([delivery_id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Delivery]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Payment] FOREIGN KEY([payment_id])
REFERENCES [dbo].[Payment] ([payment_id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Payment]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Brand] FOREIGN KEY([brand_id])
REFERENCES [dbo].[Brand] ([brand_id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Brand]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([cate_id])
REFERENCES [dbo].[Category] ([cate_id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Discount] FOREIGN KEY([discount_id])
REFERENCES [dbo].[Discount] ([discount_id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Discount]
GO
ALTER TABLE [dbo].[ProductImg]  WITH CHECK ADD  CONSTRAINT [FK_ProductImg_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([pro_id])
GO
ALTER TABLE [dbo].[ProductImg] CHECK CONSTRAINT [FK_ProductImg_Product]
GO
USE [master]
GO
